In [ ]:
class Bank: 
    def __init__(self, name, balance , account_number):
        self.name = name
        self.balance = balance
        self.account_number = account_number

In [12]:
a1=Bank("A",1000,1234)
a1.name

'A'

In [22]:
class car:
    def __init__(self,color,brand,price):
        self.color=color
        self.model=brand
        self.price=price
    def display(self):
        print(self.color)

In [23]:
a1=car("red","bmw",1000000)
a1.price

1000000

In [24]:
a1.display()

red

In [25]:
class Bank: 
    def __init__(self, name, balance , account_number):
        self.name = name
        self.balance = balance
        self.account_number = account_number
        self.display()
    def display(self):
        print("name",self.name)
        print("balance",self.balance)
        print("account number",self.account_number)
    def bal_mul(self):
        if self.balance>10000:
            return 2*self.balance
        else:
            return self.balance

In [26]:
a1=Bank("A",1000,1234)
a1.bal_mul()

name A
balance 1000
account number 1234

1000

In [37]:
class animal :
    def __init__ (self,legs,tail,eats):
        self.legs=legs
        self.tail=tail
        self.eats=eats
    # def __init__ (self,head):
    #     self.head=head
    def kind(self):
        if self.legs==4:
            print("it is a mammal")
        else:
            print("it is not a mammal")
        if self.tail==1:
            print("it is a bird")
        else:
            print("it is not a bird")
        if self.eats=="grass":
            print("it is a herbivore")
        elif self.eats=="meat":
            print("it is a carnivore")
        else:
            print("it is a omnivore")

In [36]:
a1=animal(2,1,"meat")
a1.kind()

it is not a mammal
it is a bird
it is a carnivore

In [5]:
class Fraction:
    def __init__(self, num=1, den=1):
        self.num = num
        self.den = den
    def __str__(self):
        return f"{self.num}/{self.den}"
    def __add__(self, other):
        num = self.num * other.den + self.den * other.num
        den = self.den * other.den
        return Fraction(num, den)
    def __sub__(self,other):
        num=self.num*other.den-self.den*other.num
        den=self.den*other.den
        return Fraction(num,den)
    def __mul__(self,other):
        num=self.num*other.num
        den=self.den*other.den
        return Fraction(num,den)
    def __truediv__(self,other):
        num=self.num*other.den
        den=self.den*other.num
        return Fraction(num,den)

In [ ]:
a1=Fraction(2)
a2=Fraction(3,4)
print(a1+a2)
print(a2-a1)
print(a1*a2)
print(a2/a1)

11/4
-5/4
6/4
3/8

In [10]:
print(a1)

1/2

In [11]:
type(a1)

__main__.Fraction

`Inheritance`

In [8]:
class Animal:
    def __init__(self,name,legs):
        self.name=name 
        self.legs=legs 
    def eat(self):
        return "I eat and then Sleep"
class Lion(Animal):
    def status(self):
        print("I am king of jungle")
class Dog(Animal):
    def status(self):
        print("I am watcher of jungle")

In [12]:
L1=Lion("simba",4)
D1=Dog("dog",4)
print(L1.eat())
print(D1.eat())
L1.status()
D1.status()

I eat and then Sleep
I eat and then Sleep
I am king of jungle
I am watcher of jungle

In [23]:
class Cat(Animal):
    def __init__(self,name,legs,mustache_color):
        super().__init__(name,legs)          # super() is used to access the parent class
        self.mustache_color=mustache_color
    def eat(self):
        x=super().eat()
        y=""
        for ele in x:
            if ele=="I":
                y+="i"
            else:
                y+=ele 
        return y

In [24]:
c1=Cat("Tom",4,"white")
print(c1.mustache_color)
print(c1.eat())

white
i eat and then Sleep

`Polymorphism`

In [27]:
class Luxary_car:
    def methode_drive(self):
        print("Drive Carefully") 

class Gernal_car:
    def methode_drive(self):
        print("Drive safe")

In [28]:
mercedes=Luxary_car() 
nano=Gernal_car()

In [29]:
list56=[mercedes,nano] 
for car in list56:
    car.methode_drive()

Drive Carefully
Drive safe

`Encalsulation`

In [19]:
class Bank: 
    def __init__(self, name, balance , account_number):
        self.name = name
        self._balance = balance    # Private attribute
        self.account_number = account_number
        self.display()
    def display(self):
        print("name",self.name)
        print("balance",self._balance)
        print("account number",self.account_number)
    def get_balance(self):
        return f"Your balance is {self._balance}"
    def set_balance(self):
        balance=float(input("Enter the new balance"))
        self._balance=balance
        return f"Your new balance is {self._balance}"

In [20]:
c1=Bank("A",1000,1234)
print(c1.get_balance())
print(c1.set_balance())

name A
balance 1000
account number 1234
Your balance is 1000
Your new balance is 234.0