* Task 2.1  Write a program that will give you in hand monthly salary 
after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes 
    * deduction as below: 
        * Salary(Lakhs) : Tax(%)
         * Below 5 : 0%
        * 5-10 : 10%
         * 10-20 : 20%
         * aboove 20 : 30%

In [13]:
a=int(input("Enter your salary(lakhs)"))
a=a-a*0.18
if a<500000:
    deduction=a-a*0
    print("your monthly hand salary is",deduction)
elif 500000>a>1000000:
    deduction=a-a*0.1
    print("your monthly hand salary is",deduction)
elif 1000000>a>2000000:
    deduction=a-a*0.2
    print("your monthly hand salary is",deduction)
else :
    deduction=a-a*0.3
    print("your monthly hand salary is",deduction)

your monthly hand salary is 70864196.886

* Task 2.2  Write a program that take a user input of three angles and 
will find out whether it can form a triangle or not.

In [14]:
a=int(input("Enter the angle 1 of the triangle"))
b=int(input("Enter the angle 2 of the triangle"))
c=int(input("Enter the angle 3 of the triangle"))
if a+b+c==180:
    print("The triangle is valid")
else:
    print("The triangle is not valid")

The triangle is not valid

* Task 2.3 Write a program that will take user input of cost price and 
selling price and determines whether its a loss or a profit.

In [15]:
a=float(input("Enter the cost price"))
b=float(input("Enter the selling price"))
if b>a:
    print("The profit is ",b-a)
else :
    print("The loss is ",a-b)

The loss is  300.0

* Task 2.4 Write a menu-driven program 
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [26]:
print('''Choose a condition from the following:
      1. cm to ft
      2. km to miles
      3. USD to INR
      4. Exit''')
a = input("Enter your choice (1-4): ")
if a == "1":
    value = float(input("Enter the length in cm: "))
    b = value * 0.0328084
    print("The length in ft is", b)
elif a == "2":
    value = float(input("Enter the length in km: "))
    b = value * 0.621371
    print("The length in miles is", b)
elif a == "3":
    value = float(input("Enter the amount in USD: "))
    b = value * 87.52   
    print("The amount in INR is", b)
elif a == "4":
    print("Exit")
else:
    print("Invalid choice")

Choose a condition from the following:
      1. cm to ft
      2. km to miles
      3. USD to INR
      4. Exit
Invalid choice

* Task 2.5 Display Fibonacci series up to 10 terms.

In [31]:
n = 10
a, b = 0, 1
print("Fibonacci series up to", n, "terms:")
for i in range(n):
    a, b = b, a + b
    print(a, end=" ")

Fibonacci series up to 10 terms:
1 1 2 3 5 8 13 21 34 55

* Task 2.6  Find the factorial of a given number.
 Write a program to use the loop to find the factorial of a given number.
 The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.
* For example: calculate the factorial of 5

In [3]:
a=int(input("Enter the number"))
fact=1
for i in range(1,a+1):
    fact=fact*i
    print(fact)

1
2
6
24
120

* Task 2.7  Reverse a given integer number.

In [4]:
num=int(input("Enter the number"))
print(num)
rev=0
while num>0:
 lst_dig=num%10
 rev=rev*10+lst_dig
 num=num//10
print (rev)

123456
654321

* Task 2.8 Take a user input as integer N. Find out the sum from 1 to N. 
If any number if divisible by 5, then skip that number. And if the sum is 
greater than 300, don't need to calculate the sum further more. Print 
the final result. And don't use for loop to solve this problem

* Task 2.9 Write a program that keeps on accepting a number from the 
user until the user enters Zero. Display the sum and average of all the 
numbers

* Task 2.10  Write a program which will find all such numbers which are divisible by 7 but 
are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should 
be printed in a comma-separated sequence on a single line.

* Task 2.11  Write a program which will find all such numbers which are divisible by 7 but 
are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should 
be printed in a comma-separated sequence on a single line.

* Task 2.12  Write a program, which will find all such numbers between 1000 and 3000 
(both included) such that each digit of the number is an even number. The numbers obtained 
should be printed in a space-separated sequence on a single line.

* Task 2.13  A robot moves in a plane starting from the original point (0,0). The robot can 
move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is 
shown as the following:
     UP 5
    DOWN 3
    LEFT 3
    RIGHT 2
    !
 The numbers after the direction are steps.
 ! means robot stop there.
 Please write a program to compute the distance from current position after a sequence of 
movement and original point.
 If the distance is a float, then just print the nearest integer.

* Task 2.14 :Print all the Armstrong numbers in a given range. Range will be provided by 
the user Armstrong number is a number that is equal to the sum of cubes of its digits. For 
example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

* Task 2.15 Calculate the angle between the hour hand and minute hand.
 Note: There can be two angles between hands; we need to print a minimum of two. Also, we 
need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to 
print 10.
 Input: H = 9 , M = 0 Output: 90 Explanation: The minimum angle between hour and minute hand 
when the time is 9 is 90 degress.

* Task 2.16 Given two rectangles, find if the given two rectangles overlap or not. A 
rectangle is denoted by providing the x and y coordinates of two points: the left top corner and 
the right bottom corner of the rectangle. Two rectangles sharing a side are considered 
overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the 
extreme points of the second rectangle).
 Note: It may be assumed that the rectangles are parallel to the coordinate axis.