* Task 1.1 Print the given string as per stated format
 :- "Data" "Science" "Mentorship" "Program"
 "By" "CampusX"
  * Data-Science-Mentorship-Program-started-By-CampusX

In [5]:
print( "Data" ,"Science", "Mentorship", "Program",sep="-",end="-started-")
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

* Task 1.2 Write a program that will convert celsius value to fahrenheit.

In [2]:
a=float(input("Enter the celsius"))
def fahrenheit(a):
    b=a*1.8+32
    return b
fahrenheit(a)

89.6

* Task 1.3 Take 2 numbers as input from the user.Write a program to swap 
the numbers without using any special python syntax.

In [13]:
a=input("Enter the first number:")
b=input("Enter the second number:")
def swap_number(a,b):
    a,b=b,a
    return a,b
print("Number before swapping:",a,b)
a,b=swap_number(a,b)
print("Number after swapping:",a,b)

Number before swapping: 4 5
Number after swapping: 5 4

In [19]:
a = int(input("Enter the first number "))
b = int(input("Enter the second number "))
print("Number before swapping", a, b)
a = a + b
b = a - b
a = a - b
print("Number after swapping", a, b)

Number before swapping 3 4
Number after swapping 4 3

* Task  1.4 Write a program to find the euclidean distance between two 
coordinates.Take both the coordinates from the user as input.

In [22]:

import math
x1 = float(input("Enter the x1 "))
y1 = float(input("Enter the y1 "))
x2 = float(input("Enter the x2 "))
y2 = float(input("Enter the y2 "))
def euclidean_distance(x1, y1, x2, y2):
    distance = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)
    return distance
distance = euclidean_distance(x1, y1, x2, y2)
print("The Euclidean distance between the two points is", distance)

The Euclidean distance between the two points is 0.0

* Task 1.5 Write a program to find the simple interest when the value of 
principle,rate of interest and time period is provided by the user.

In [27]:
principle = float(input("Enter the principle amount "))
rate = float(input("Enter the rate "))
time = float(input("Enter the time "))
def simple_interest(principle, rate, time):
    interest = (principle * rate * time) / 100
    return interest
interest = simple_interest(principle, rate, time)
print("The simple interest is", interest)

The simple interest is 60.0

* Task 1.6 - Write a program that will tell the number of dogs and chicken are 
there when the user will provide the value of total heads and legs.

In [ ]:
heads=input("Enter the number of heads")
legs=input("Enter the number of legs")
def chicken_dogs(heads,legs):

* Task 1.7 - Write a program to find the sum of squares of first n natural 
numbers where n will be provided by the user.

In [29]:
n=int(input("Enter the number"))
def sum_square(n):
    sum=0
    for i in range(1,n+1):
        sum+=i**2
    return sum
sum_square(n)

14

* Task 1.8  Given the first 2 terms of an Arithmetic Series.Find the Nth term 
of the series. Assume all inputs are provided by the user.

In [25]:
a1=int(input("Enter the first number"))
a2=int(input("Enter the second number"))
n=int(input("Enter the number"))
def nth_number(a1,a2,n):
    return a1+(n-1)*(a2-a1)
nth_number(a1,a2,n)

12

* Task 1.9  Given 2 fractions, find the sum of those 2 fractions.Take the 
numerator and denominator values of the fractions from the user.

* Task 1.10 Given the height, width and breadth of a milk tank, you have to 
f
 ind out how many glasses of milk can be obtained? Assume all the 
inputs are provided by the user.
 Input: Dimensions of the milk tank H = 20cm, L = 20cm, B = 20cm  Dimensions of the glass h = 
3cm, r = 1cm